@charset "UTF-8";

@font-face {
  font-family : '나눔고딕';
  src : url(../font/NanumGothic-Regular.ttf)
}

* {
	font-family : '나눔고딕' !important;
}

html,
body {
 	height: 100%;
}
th {
	text-align: center;
	vertical-align: middle !important;
}

