<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/basic :: setContent(~{this :: content})}">
	<th:block th:fragment="content">
		<div class="wrapper">
			<div class="container content"> 
		 		<!--Table Bordered-->
                <div class="panel panel-grey margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-globe"></i>위험성평가등록부</h3>
                    </div>
                    <div class="panel-body" style="height:200px; overflow-y:auto">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>First Name</th>
                                    <th class="hidden-sm">Last Name</th>
                                    <th>Username</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td class="hidden-sm">Otto</td>
                                    <td>@mdo</td>
                                    <td><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td class="hidden-sm">Thornton</td>
                                    <td>@fat</td>
                                    <td><button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit</button></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td class="hidden-sm">the Bird</td>
                                    <td>@twitter</td>
                                    <td><button class="btn btn-info btn-xs"><i class="fa fa-share"></i> Share</button></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>htmlstream</td>
                                    <td class="hidden-sm">Web Design</td>
                                    <td>@htmlstream</td>
                                    <td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>htmlstream</td>
                                    <td class="hidden-sm">Web Design</td>
                                    <td>@htmlstream</td>
                                    <td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                      
                </div>
              
                <!-- 상세내용 -->
                <div class="panel panel-grey margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-globe"></i>위험성평가등록부별 상세내용</h3>
                    </div>
                    <div class="panel-body" style="height:200px; overflow-y:auto">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>First Name</th>
                                    <th class="hidden-sm">Last Name</th>
                                    <th>Username</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td class="hidden-sm">Otto</td>
                                    <td>@mdo</td>
                                    <td><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td class="hidden-sm">Thornton</td>
                                    <td>@fat</td>
                                    <td><button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit</button></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td class="hidden-sm">the Bird</td>
                                    <td>@twitter</td>
                                    <td><button class="btn btn-info btn-xs"><i class="fa fa-share"></i> Share</button></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>htmlstream</td>
                                    <td class="hidden-sm">Web Design</td>
                                    <td>@htmlstream</td>
                                    <td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>htmlstream</td>
                                    <td class="hidden-sm">Web Design</td>
                                    <td>@htmlstream</td>
                                    <td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                      
                </div>
                
                
                <!-- 평가의견 -->
				<div class="panel panel-grey margin-bottom-40">
				</div>
                
                
                
    		</div>
		</div>	
		<script th:inline="javascript">
	new gridjs.Grid({
		  columns: ["Name", "Email", "Phone Number"],
		  data: [
		    ["John", "john@example.com", "(353) 01 222 3333"],
		    ["Mark", "mark@gmail.com", "(01) 22 888 4444"],
		    ["Eoin", "eoin@gmail.com", "0097 22 654 00033"],
		    ["Sarah", "sarahcdd@gmail.com", "+322 876 1233"],
		    ["Afshin", "afshin@mail.com", "(353) 22 87 8356"]
		  ]
		}).render(document.getElementById("test"));
    
    </script>
	</th:block>
	
	
</th:block>